/Angular2.DB/*
/Angular2WebApi/*
/Models/bin
/Models/obj
/packages
/Repositories/*
/Repositories/obj
/Repositories/bin
/.vs
/Angular2WebApi/app/*.js
/Angular2WebApi/app/*.map
/Angular2WebApi/app/components/*.map
/Angular2WebApi/app/components/*.js
/Angular2WebApi/app/components/carousel.component/*.map
/Angular2WebApi/app/components/carousel.component/*.js
/Angular2.DB/Angular2.DB.sqlproj.user
/Angular2.DB/*.xml
/Angular2.DB/*.refactorlog
