/cms-asp.net.db/*
/cms-asp.net/*
/cms-asp.net.models/bin
/cms-asp.net.models/obj
/packages
/cms-asp.net.repositories/*
/cms-asp.net.repositories/obj
/cms-asp.net.repositories/bin
/.vs
/cms-asp.net/app/*.js
/cms-asp.net/app/*.map
/cms-asp.net/app/components/*.map
/cms-asp.net/app/components/*.js
/cms-asp.net/app/components/carousel.component/*.map
/cms-asp.net/app/components/carousel.component/*.js
/cms-asp.net.db/Angular2.DB.sqlproj.user
/cms-asp.net.db/*.xml
/cms-asp.net.db/*.refactorlog
/cms-asp.net/cms-asp.net.csproj.user
/cms-asp.net.db/*.dbmdl
/cms-asp.net.db/*.user
/cms-asp.net.models/*
/cms-asp.net/app/services/*.map
/cms-asp.net/app/services/*.js
/cms-asp.net/app/models/*.js
/cms-asp.net/app/models/*.map
/cms-asp.net/app/directives/*.js
/cms-asp.net/app/directives/*.map
/cms-asp.net/app/common/*.map
/cms-asp.net/app/common/*.js
